/* Background and the viewport */
#background {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
    
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;   
    background-image: url("resources/bg-crystal.png");
    /*filter: blur(2px);*/
    background-repeat: no-repeat;
    
    height:100%;
    width:100%;
}

#viewport {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
    width: 100%;
    height: 100%;
}

/* Title and subtitle, Navigation Bars */
#title {
    font-family: 'LATO';
    color: white;
    opacity: 0.8;
    text-align: center;
    z-index: 5;
    cursor: default;
    height: 60px;  
    width: 300px;
    font-size: 75px;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 60px;
    position: absolute;
    font-weight: bolder;
}

#topNavigationBar {
    position: fixed;
    width: 100%;
    height: 200px;
    left: 0;
    top: 0;
    z-index: 5;
    overflow: hidden;
}

#topNavigationBarContainer {
    list-style-type: none;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.navIcon {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    opacity: 0.3;
    transition: background-color 0.5s, opacity 0.5s;
    
}

.navIcon:hover {
    background-color: steelblue;
    cursor: pointer;
    opacity: 1;
}

.navIcon.active {
    opacity: 1;
}

.navIconText {
    font-size: 20px;
    position: absolute;
    left: 50px;
    top: 0;
    bottom: 0;
    line-height: 50px;
    color: white;
    
}

.navLinkIcon {
    width: 40px;
    height: 40px;
    margin-left: 5px;
    margin-top: 5px;
    text-align: center;
    background-image: url("resources/spritesheet.png");
    background-size: 200px 160px;
}

#home {
    background-position: 0px 0px;
}

#users {
    background-position: -120px 0px;
}

#images {
    background-position: -40px 0px;
}

#albums {
    background-position: -80px 0px;
}

.post, #topNavigationBarContainer {
    font-family: 'Open Sans';
    color:white;
}

/* Posts, Images, User Profiles */
#WholePanel {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 100px;
}

.container{
    position: relative;
    width: 100%;
    left: 0;
    bottom: 0;
    right: 0;
    top: 100px;
    margin-bottom: 200px
}


#imageContainer {
    display: flex;
    flex-wrap: wrap;
    
}

.picture, .details, .content, .imageContent {
    background-color: white;
    opacity: 0.4;
    border-radius: 5px;
}

.post, .imagePost, .user {
    position: relative;
    margin: auto;
    left: 0;
    right: 0;
    opacity: 0.7;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: linear-gradient(to right, #FECA74, #F68B64, #E2636A, #C1678C, #996C93);
    transition: opacity 0.5s, width 0.5s, height 0.5s, box-shadow 1s;
}

.post {
    width: 500px;
    height: 220px;
    flex-grow: 1;
}


.post:hover {
    width: 510px;
    height: 230px;
    opacity: 0.95;
}

.picture {
    position: absolute;
    background: url(resources/spritesheet.png);
}

.post .picture {
    left: 15px;
    top: 15px;
    background-size: 750px 600px;
    background-position: 300px 600px;
    width: 150px;
    height: 150px;
}

.user .picture {
    width: 80px;
    height: 80px;
    left: 10px;
    top: 10px;
    bottom: 10px;
    background-size: 400px 320px;
    background-position: 160px 320px;
}

.user .info {
    width: 75%;
    height: 80%;
    float: right;
    margin: 10px;
    background-color: white;
    opacity: 0.6;
    border-radius: 10px;
}

.post .content { 
    position: absolute;
    height: 150px;
    top: 15px;
    border-radius: 20px;
    left: 170px;
    right: 15px;
}


.post .details {
    position: absolute;
    height: 30px;
    bottom: 15px;
    right: 15px;
    left: 15px;
}

.imagePost {
    text-align: center;
    width: 170px;
    height: 170px;
}

.imageContent {
    width: 90%;
    height: 90%;
    margin: 5%;
    
}

.imagePost:hover {
    width: 180px;
    height: 180px;
    opacity: 1;
}

.user {
    width: 500px;
    height: 100px;
    opacity: 0.7;
}

.user:hover {
    opacity: 0.95;
    width: 510px;
    height: 110px;
}

.more {
    text-decoration: none;
    font-family: 'LATO';
    color:  rgb(14, 25, 44);
    font-style: oblique;
    margin-left: auto;
    margin-top: 100px;
    font-size: 26px;
    font-weight: bolder;
    transition: font-size 0.5s, font-weight 0.5s;
    color: white;
}

.more:hover {
    font-size: 30px;
    cursor: pointer;
}

#moreMessage {
    text-align: center;
    position: relative;
    width: 100%;
    height:100px;
}

#searchMessage {
    display: block;
    position: absolute;
    text-align: center;
    width: 60%;
    height: 30px;
    opacity: 0.7;
    top: 150px;
    border-radius: 3em;
    padding: 5px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: white;
    transition: width 0.5s, height 0.5s, opacity 0.5s;
}

#searchMessage:hover{
    width: 65%;
    opacity: 0.95;
}

#searchText {
    background: none;
    font-family: 'Open Sans';
    border-radius: 3em;
    margin: auto;
    width: 70%;
    height: 30px;
    position: absolute;
    right: 0px;
    left: 0px;
    text-align: center;
    border: none;
}

#search {
    margin-right: 5px;
    background-position: 30px 59.4px;
    width: 30px;
    height: 29px;
    position: relative;
    background-image: url(resources/spritesheet.png);
    background-size: 150px 120px;
    float: right;
}

.titleContainer {
    font-size: 38px;
    width: 100%;
    text-align: center;
    font-family: 'Lato';
    font-weight: bolder;
    cursor: default;
}

@media screen and (max-width: 650px) {
    #topNavigationBarContainer .navIconText {
        visibility: hidden;
    }
    
    #topNavigationBarContainer .navIcon{
        width: 50px;
        height: 50px;
        background-size: 250px 200px;
        transition: width 0.5s;
    }
    
    #topNavigationBarContainer {
        position: fixed;
        bottom: 0px;
        top: auto;
    }
    
    #title {
        top: 0px;
    }
    
    #searchMessage {
        top: 100px;
    }
}

/*
    COLOR SCHEME: 
    HTML code:	#FECA74
    RGB code:	R: 254 G: 202 B: 116

    HTML code:	#F68B64
    RGB code:	R: 246 G: 139 B: 100

    HTML code:	#E2636A
    RGB code:	R: 226 G: 99 B: 106

    HTML code:	#C1678C
    RGB code:	R: 193 G: 103 B: 140

    HTML code:	#996C93
    RGB code:	R: 153 G: 108 B: 147
*/

